body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

#about img {
    max-width: 100%;
    border-radius: 50%;
}

#game-board {
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 100px;
    height: 100px;
    margin: 10px;
    background-color: #eee;
    text-align: center;
    line-height: 100px;
    font-size: 24px;
    cursor: pointer;
    opacity: 1; /* Set the initial opacity */
    transition: opacity 0.5s ease; /* Add a smooth transition effect */
}

.card.face-down {
    background-color: #ccc;
    color: transparent; /* Hide the letter content */
}